<p id="notice"><%= notice %></p>

<div class="blog-content">
<h1><%= link_to "Tom's BLOG", blogs_path %></h1>

<%= link_to 'New Blog', new_blog_path %>
<section>
  <ul id="accordion mdl-list">
    <% @blogs.each do |blog| %>
    <div>
      <li class="accordion-item mdl-list__item">
         <h3 class="question"><%= link_to blog.title, blog %></h3>
         <span><%= time_ago_in_words(blog.created_at) %> ago.</span>
         <div class="answer">
            <p>
              <%= blog.created_at %><br>
              <%= blog.content %>
            </p>
          </div>
       </li>
        <!-- <%= link_to 'Show', blog %> -->
        <!-- <td><%= link_to 'Edit', edit_blog_path(blog) %></td> -->
        <!-- <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    <% end %>
<br>
</ul>
</section>
<%= link_to 'New Blog', new_blog_path %>
</div>

<%= javascript_include_tag 'accordion' %>
