<p id="notice"><%= notice %></p>
<div class="content-flex">

  <%= render 'layouts/side_menu' %>

    <div class="blog-content" style="flex:0 1 80%">
    <h3><%= link_to "Tom's BLOG", blogs_path %></h3>
    <%= link_to 'New Blog', new_blog_path %>
    <p class="blog-title">
      <strong>Title:</strong>
      <%= @blog.title %>
    </p>

    <p>
      <strong>Article:</strong><br>
      <%= l @blog.created_at, format: :short %><br>
      <%= @blog.content %>
    </p>

    <%= link_to 'Edit', edit_blog_path(@blog) %> |
    <%= link_to 'Back', blogs_path %>

  </div>
</div>
